.App {
  text-align: center;
}

/* .App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  width: 200px;
  
}

button{

width:75px;
}
.material-icons.blue600 { 
  color: rgb(10, 10, 240); 
}
.material-icons.md-36 { 
  font-size: 36px; 
}

